.MuiBox-root .css-81aybb {
  height: 95vh;
  overflow: hidden;
  position: relative;
}

* {
  margin: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.zakat-container {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  padding: 15px 15px 120px 15px;
}
.zakat-container.modal-open {
  background: rgba(0,0,0,0.4);
}
.zakat-container.modal-open form {
  margin-top: -300px;
}


.MuiBox-root > .MuiPaper-root {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.MuiBox-root header {
  z-index: 999;
  position: relative;
}

.MuiBottomNavigation-root  {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999999;
}


.MuiGrid-root {
  width: initial !important;
  margin: 0 !important;
  align-items: center;
  /* padding-left: 25px; */
}

.zakat_btn {
  width: 100%;
}


#zakat-modal {
    position: sticky;
    background: #fff;
    width: 100%;
    max-width: 100%;
    height: 300px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 22%;
    overflow: hidden;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
#zakat-modal .close {
  position: absolute;
  right: 5px;
  top: 6px;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 23px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}
#zakat-modal .close:hover {
  color: #ff0000;
}

.zakat-modal-title {
  margin-bottom: 30px;
  border-bottom: solid 1px;
  font-size: 28px;
  font-weight: 900;
}
.zakat-modal-body p {
  font-size: 23px;
}